body {
    margin: 0px;
    background-color: #ffffff;
}

.cabecalho {
    background-color: #47607a;
}

.social-medias {
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.facebook {
    border-right: 1px solid #cccccc;
}

.twitter {
    border-right: 1px solid #cccccc;
}

.linkedin {
    border-right: 1px solid #cccccc;
}

.instagram {
    margin-right: 30px;
}

/*.telefone{
    display: flex;
    justify-content: first baseline;
}*/

.container-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: #ffffff;
}

.drivin {
    width: 100%;
    line-height: 50px;
    padding-left: 10px;
   /* padding: 10px;*/
}

.menu {
    width: 70%;
}

.getstarted {
    width: 40%;
    color: #ffffff;
    background-color: #f3bd00;
    text-align: center;
}

/*.drivin {
    line-height:50px;
}*/

/* ul {
    margin: 0;
    padding:0;
} */
 
li {
    list-style: none; 
    margin: 5px;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* text-align: right; */
}

li:hover {
    color: #f3bd00;
    font-weight: bold;
    cursor: pointer;
}

.get-started {
    display: flex;
    flex-direction: row;
    justify-content: center;
   /* padding: 10px;*/  
    line-height: 50px;
}

.right-arrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 5px; 
    line-height: 50px;
    width: 20px;
}

/*.transicao-fotos {
    margin: 0px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: inherit;
}*/

.transicao-fotos {
    display: flex;
    flex-direction: column;
}

.drivin {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgba(1, 1, 75, 0.781);
}

.background-image {
    width: 100%;
}

#container {
  /*display: block;
  position: absolute;*/
  width: 100%;
  margin-left: 0px;
  margin-top: 0px;
}

#container figcaption {
  position: absolute;
  top: 445px;
  left: 20px;
  font-size: 40px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.container-texto {
    display: flex;
    flex-direction: row;
}

.btn1 {
    font-size: small;
    background-color: #ffffff;
    color: black;
    margin: 2px;
    height: 30px;
    width: 80px;
}

.btn2 {
    font-size: small;
    background-color: #ffffff;
    color: black;
    margin: 2px;
    height: 30px;
    width: 80px;
}

h6 {
    text-align: center;
    margin-top: 10px;
}

.btn1:hover,.btn2:hover {
    color: #ffffff;
    background-color: #f3bd00;
}

.why-choose-us {
    margin: auto;
    height: 500px;
    /* text-align: center; */
}

.why-choose-us h4 {
    color: #f3bd00;
    font-family: arial;
    margin-left: 200px;
}

.why-choose-us h2 {
    color: #465e77;
    font-family: arial;
    margin-left: 200px;
}

.why-choose-us p {
    color: #465e77;
    font-family: arial;
    margin-left: 200px;
    font-size: small;
}

.meet-the-team {
    height: 500px;
}

.container-wcu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.checkbox1 {
    display: inline;
    margin-left: 158px;
}

.fully-licensed {
    display: inline;
}

.fully-licensed p {
    font-weight: bold;
}

.checkbox2 {
    display: inline;
}

.online-tracking {
    display: inline;
}

.online-tracking {
    font-weight: bold;
}

.meet-the-team {
    height: 150px;
}

.meet-the-team h4 {
    color: #f3bd00;
    font-family: arial;
    text-align: center;
}

.meet-the-team h2 {
    color: #465e77;
    font-family: arial;
    text-align: center;
}

.container-fotos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.foto1, .foto2, .foto3, .foto4 {
   width: 160px;
}

.foto1, .foto2, .foto3, .foto4, h5 {
    color: #24405e;
    font-height: bold;
    text-align: center;
}

.foto1, .foto2, .foto3, .foto4, h6 {
    color: #acadae;
    font-weight: bold;
    text-align: center;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #0c2b4b;
    height: 300px;
}

.get-in-touch, .quick-links, .popular-links, .newsletter p {
    color: #ffffff;
    font-weight: bold;
    margin-top: 50px;
}

.drivin-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size:small;
}


.rodape {
    background-color: #4c657e;
}